.location-contacs-container {
  width: 80vw;
  margin: 20px auto;
}
// .location-container {
// }
.location-container > div > img {
  width: 100%;
  height: 100%;
}
.contacts-container {
  margin: 5vh;
}
@media (min-width: $max-mobile-width) {
  .location-contacs-container {
    display: flex;
  }
}
