@media (max-width: $max-mobile-width) {
  .nav-icon {
    width: 7vmin;
    margin: auto 4vw auto 0;
    transition: $transition-time;
  }
}
@media (min-width: $max-mobile-width) {
  .nav-icon {
    width: 3vw;
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(-50%, 50%);
  }
}
