@media (max-width: $max-mobile-width) {
  .nav-icon {
    width: 7vmin;
    margin: auto 4vw auto 0;
    transition: $transition-time;
  }
}
@media (min-width: $max-mobile-width) {
  .nav-icon {
    width: 3vw;
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(-50%, 50%);
  }
}
.nav-icon:hover {
  animation: hithere 1s ease infinite;
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
