@media (max-width: $max-mobile-width) {
  .nav-icon {
    width: 7vmin;
    margin-right: 4vw;
    transition: $transition-time;
  }
}
@media (min-width: $max-mobile-width) {
  .nav-icon {
    width: auto;
    height: 6vw;
    margin-right: 4vw;
  }
}
