@media (max-width: $max-mobile-width) {
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: $max-mobile-width;
    margin: 0 auto 0 auto;
    max-height: 15vw;
    min-height: 10vw;
    // transition: $transition-time;
  }
  // .hero-section {
  //   background-color: aquamarine;
  // }
}
@media (min-width: $max-mobile-width) {
  nav {
    width: 100%;
    position: relative;
    background-color: rgb(196, 220, 255);
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  }
}
.hero-section {
  // width: 80vw;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-container {
  padding: 5vw 5vw;
}
